[submodule "dntc"]
	path = dntc
	url = git@github.com:KallDrexx/dntc.git
[submodule "libbpf"]
	path = libbpf
	url = git@github.com:libbpf/libbpf.git
[submodule "blazesym"]
	path = blazesym
	url = git@github.com:libbpf/blazesym.git
[submodule "vmlinux.h"]
	path = vmlinux.h
	url = git@github.com:libbpf/vmlinux.h.git
[submodule "bpftool"]
	path = bpftool
	url = https://github.com/libbpf/bpftool.git
